@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cream: #E6DACE;
    --white: #FFFEFE;
    --lightcream: #F5EDE6;
    --shd: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
}

html, body, main {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    transition: 2s ease-in 1s;
    min-width: 400px !important;
}

.profile-insight {
    display: flex;
}

.insight-left {
    width: 39%;
}

.insight-right {
    width: 61%;
}

.profile-insight-detail {
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

.profile-insight-detail img {
    width: 248px;
    height: 248px;
    object-fit: cover;
    margin: 0 auto;
}

.profile-insight-detail-left {
    margin-left: 128px;
    min-width: 430px;
    background-color: var(--lightcream);
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .8));
    padding: 0;
}

.profile-insight-detail-left article {
    padding: 64px;
}

.profile-insight-detail-left h4 {
    line-height: 1.2em;
    font-size: 34px;
}

.profile-insight-detail-right {
    padding: 48px;
    width: 40%;
    background-color: var(--white);
}

.profile-insight-detail-right h1 {
    font-size: 128px;
    padding: 0;
    margin: 0;
}

.profile-insight-detail-right h6 {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.profile-insight-social-media {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
}

.profile-insight-social-media img {
    width: 30px;
    height: 30px;
}

.icon-scale-animate {
    transition: all .25s ease-in-out;
}

.icon-scale-animate:hover {
    transform: scale(1.3);
}

.education-item {
    display: flex;
    margin-top: 16px;
}

.education-item img {
    width: 150px;
    height: 150px;
}

.education-item div {
    width: 100%;
}

.education-item h4 {
    font-weight: 600;
}

.item-details {
    margin-bottom: 32px;
}

.item-details h5 {
    font-weight: 600;
}

.rounded-10 {
    border-radius: 10% !important;
}

.profile-cna img {
    width: 45%;
    padding: 16px 2.5%;
    min-width: 330px;
}

.profile-cna img {
    transition: all .15s ease-in-out;
}

.profile-cna img:hover {
    transform: scale(1.1);
}

.profile-skills article {
    margin-top: 16px;
    margin-bottom: 32px;
}

.profile-skills article h4 {
    font-weight: 600;
}

.slp-wrapper {
    width: 48%;
    margin: 16px 0px;
    min-width: 330px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 16px;
    border-radius: 12px;
    transition: all .15s ease-in-out;
}

.slp-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

/* Colors */
.bg-cream {
    background-color: var(--cream) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

@media only screen and (max-width: 1033px) {
    .profile-insight-detail {
        top: 10%;
    }

    .profile-insight-detail-left {
        margin-bottom: 64px;
    }

    .profile-insight-detail-right {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .profile-insight-detail-left {
        margin-left: 16px;
        width: 300px;
        min-width: 400px;
    }

    .profile-insight-detail-left article {
        padding: 32px;
    }

    .profile-insight-detail-right {
        padding: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .profile-insight-detail-left {
        min-width: 300px;
    }

    .profile-insight-detail-left h4 {
        font-size: 28px;
        padding-bottom: 16px !important;
        padding-top: 16px !important
    }

    .profile-insight-detail-left article img {
        width: 150px;
        height: 150px;
    }
}